<h1>SF Survivor Services</h1>

<form>
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="gender" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    GENDER:
    <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="gender">
      <li><a href="#">Male</a></li>
      <li><a href="#">Female</a></li>
      <li><a href="#">Trans-Male</a></li>
      <li><a href="#">Trans-Female</a></li>
    </ul>
  </div>
  <div class="form-group">
  <label for="age">AGE:</label>
  <input type="number" class="form-control" id="age">
</div>
</form>
<a href="/query/new" class="button small">Get Organizations</a>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Support Services</div>

  <!-- Table -->
  <table class="table">
    <th>Organization Name</th>
    <th>Genders Serviced</th>
    <th>Ages Served</th>
    <th>Languages Spoken</th>
    <th>Services Provided</th>
    <th>Address</th>
    <th>Phone Numbers</th>
    <th>Website</th>
    <th>Email</th>
    <% @api.each do |organization| %>
      <td><%= organization.name %></td>
      <td><% organization.each do |genders|%>
        <%= genders.gender %></td>
      <% end %>
      <td><% organization.each do |ages|%>
        <%= ages.minimum_age %> through <%= ages.maximum_age %></td>
      <% end %>
      <td><% organization.each do |languages|%>
        <%= languages.language %></td>
        <%end%>
      <td><% organization.each do |services|%>
        <%= services.service_type %></td>
        <%end%>
      <td><%= organization.address %></td>
      <td><% organization.each do |phone_number|%>
        <b><%= phone_number.description%></b>
        <%= phone_number.number%></td>
        <%end%></td>
      <td><%= organization.website %></td>
      <td><%= organization.email %></td>
    <% end %>

  </table>
</div>
