<h1>SF Survivor Services</h1>

<%= form_for :request, url: queries_path do |f|%>
  <div class="btn-group">
    <button data-toggle="dropdown" class="btn btn-default dropdown-toggle">Language<span class="caret"></span></button>
      <ul class="dropdown-menu">
        <% @languages.each do |language, value| %>
          <li><%= f.check_box('language', {multiple: true}, language, nil)%> <%=language.capitalize%></li>
        <% end %>
      </ul>
  </div>
    <div class="form-group">
      <div class="col-md-6">
        <div class="form-group row">
          <%= f.label :age %>
          <%= f.number_field :age %>
        </div>
      </div>
    </div>
    <div class="btn-group">
    <button data-toggle="dropdown" class="btn btn-default dropdown-toggle">Gender:<span class="caret"></span></button>
      <ul class="dropdown-menu">
        <% @genders.each do |gender, value| %>
          <li><%= f.check_box('gender', {multiple: true}, gender, nil)%> <%=gender.capitalize%></li>
        <% end %>
      </ul>
  </div>
  <!-- </div> -->
  <%= f.submit %>
<% end %>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Support Services</div>
  <!-- Table -->
  <table class="table">
    <th>Organization Name</th>
    <th>Genders Serviced</th>
    <th>Ages Served</th>
    <th>Languages Spoken</th>
    <th>Services Provided</th>
    <th>Address</th>
    <!-- <th>Phone Numbers</th> -->
    <th>Website</th>
    <th>Email</th>
    <% @organizations.each do |organization| %>
      <tr> <td><%= organization["name"] %></td>
      <td><% organization["genders"].each do|gender| %>
        <%= gender %>,
      <% end %></td>
      <% min_age = organization["age"]["minimum_age"]
         max_age = organization["age"]["maximum_age"]%>
      <td><%= min_age %> through <%= max_age %></td>
      <td><% organization["languages"].each do |language|%>
        <%= language %>,
        <%end%></td>
      <td><% organization["provided_services"].each do |service|%>
        <%= service%>,
        <%end%></td>
      <td><%= organization["address"] %></td>
      <td><a href=<%= organization["website"]%>> <%= organization["website"]%></a></td>
      <td><a href=mailto:<%= organization["website"]%>> <%= organization["website"]%></a></td>
      </tr>
    <% end %>
  </table>
</div>

